@import url("https://use.typekit.net/itk1gfw.css");
header {
  padding-bottom: 30px;
}

header .headerCon {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

header .headerCon .logoCon {
  width: 100px;
  height: 80px;
  padding: .5em .5em;
}

header .headerCon .logoCon #navLogo {
  background-blend-mode: multiply;
  width: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header .headerCon .logoCon #navLogo:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

header .headerCon nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

header .headerCon nav ul li {
  margin-left: 30px;
  margin-top: 10px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

header .headerCon nav ul li a {
  font-size: 20px;
  color: #6C3C97;
  text-decoration: none;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header .headerCon nav ul li a:hover {
  color: #bbbbba;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

header .headerCon #userCon {
  margin-left: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .headerCon #userCon .navButton {
  width: 45px;
  height: 45px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header .headerCon #userCon .navButton:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

footer {
  background-color: #6C3C97;
  margin-top: 0;
  padding: 1px;
  border-top: solid 2px #ffffff;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

footer #footerCon {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

footer #footerCon #footerLogo {
  width: 130px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

footer #footerCon #socialMediaCon {
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 25px;
}

footer #footerCon #socialMediaCon .socialIcon {
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

footer #footerCon #socialMediaCon .socialIcon:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

footer #footerCon #copyRight {
  font-size: 20px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (min-width: 700px) {
  #footerCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

#loginCon {
  padding-top: 20px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

#loginCon #login {
  background-color: #6C3C97;
  height: 400px;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}

#loginCon #login h2 {
  font-size: 35px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
}

#loginCon #login .errorMsg {
  color: #a82f27;
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 15px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

#loginCon #login form label {
  font-size: 25px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
}

#loginCon #login form input {
  background: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  border-bottom: solid 1px #7E7E7E;
  width: 100%;
  height: 30px;
}

#loginCon #login form .submitButton {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  height: 40px;
  background-color: #4a2b6b;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#loginCon #login form .submitButton:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.allUsers {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

.allUsers h2 {
  background-color: #6C3C97;
  font-size: 35px;
  padding: 1em;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 10px;
}

.allUsers .usersCon {
  background-color: #6C3C97;
  max-width: 840px;
  margin: 0 auto;
  padding: 3em;
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.allUsers .usersCon .user {
  width: 100%;
  max-width: 140px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

.allUsers .usersCon .user .avatar {
  max-width: 140px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.allUsers .usersCon .user .avatar:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.allUsers .usersCon .user h3 {
  font-size: 20px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 10px;
}

.editForm {
  background-color: #6C3C97;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

.editForm h1 {
  font-size: 28px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 10px;
}

.editForm h2 {
  font-size: 23px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 10px;
}

.editForm img {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

.editForm form {
  max-width: 350px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  /* For IE <= 11 */
}

.editForm form .errorMsg {
  color: #a82f27;
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 15px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

.editForm form label {
  font-size: 20px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.editForm form input {
  background: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  border-bottom: solid 1px #7E7E7E;
  width: 100%;
}

.editForm form select {
  width: 60%;
  height: 30px;
  font-size: 100%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  color: #090b17;
  padding-right: 38px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

.editForm form select:hover, .editForm form select:focus {
  color: #ffffff;
  background-color: #090b17;
}

.editForm form select::-ms-expand {
  display: none;
}

.editForm form .submitButton {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  height: 40px;
  background-color: #252941;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.editForm form .submitButton:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.editForm form .editButtonsCon {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.editForm form .editButtonsCon .editButton {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #545f9a;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.editForm form .editButtonsCon .editButton:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.editForm form .editButtonsCon .cancelButton {
  background-color: #9b5052;
}

.conButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conButtons .editButton {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  background-color: #545f9a;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.conButtons .editButton:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.conButtons .cancelButton {
  background-color: #9b5052;
}

#KidsProfile {
  background-color: #fc78e6;
  padding-top: 1px;
  padding-bottom: 50px;
}

#AdultsProfile {
  padding-bottom: 50px;
  background-color: #6C3C97;
}

.hero {
  padding-top: 10px;
  margin-top: 40px;
  max-width: 1400px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

.hero .heroImage {
  margin: 0 auto;
  width: 100%;
}

.filterButtonsCon {
  background-blend-mode: darken;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 24px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

.filterButtonsCon .filterButton {
  max-width: 450px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.filterButtonsCon .filterButton:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.mediaCon {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -ms-grid-columns: (minmax(160px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.mediaCon .mediaItem {
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

.mediaCon .mediaItem .thumbnail {
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-animation: fadeAnim 1.7s 1 0s ease;
          animation: fadeAnim 1.7s 1 0s ease;
}

.mediaCon .mediaItem .thumbnail:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media screen and (min-width: 700px) {
  .filterButtonsCon {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .mediaCon {
    display: -ms-grid;
    display: grid;
    grid-gap: 2em;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.playerCon {
  background-color: #e6e7f0;
  padding-top: 40px;
  padding-bottom: 80px;
  -webkit-animation: fadeAnim 1s 1 0s ease;
          animation: fadeAnim 1s 1 0s ease;
}

.playerCon .player {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.playerCon .player h2 {
  color: #6C3C97;
  font-size: 23px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

.playerCon .player p {
  color: #6C3C97;
  font-size: 20px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 35px;
  max-width: 600px;
}

.playerCon .player .closePlayer {
  color: #6C3C97;
  margin-left: 90%;
  font-size: 30px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.playerCon .player .closePlayer:hover {
  color: #b8b8b8;
}

.playerCon .player video {
  max-width: 700px;
  width: 100%;
}

.hidden {
  display: none;
}

body {
  background: url(../images/home_background.jpg);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

@-webkit-keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.list-enter-active, .list-leave-active {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}
/*# sourceMappingURL=main.css.map */