<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>Roku Flashback</title>

    <link  href="css/reset.css" rel="stylesheet" type="text/css">
    <link  href="css/main.css"  rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <h1 class="hidden">Roku Video Streaming App</h1>
<div id="app">
    <main>
        <header>
            <div class="headerCon">
                <div class="logoCon">
                    <img id="navLogo" src="images/flashback_logo.png" alt="Roku Logo">
                </div>

                <h2 class="hidden">Main Navigation</h2>
                <nav>

                    <ul v-if="showNav">
                        
                        <li><router-link :to="{ name: 'users'}">
                            <a href="">Users</a>
                        </router-link></li>
                        
                        <!-- <li ><a href="#">Movies</a></li>
                        <li ><a href="#">TV Series</a></li>
                        <li><a href="#">Music</a></li> -->
                    </ul>
                </nav>

                <div id="userCon" v-if="authenticated">
                    
                    <router-link :to="{ name: 'manageProfiles'}">
                        <img v-if="administrator" src="images/settings.svg" alt="Log Button" class="navButton" >
                    </router-link>

                    <img v-if="showNav" :src="'images/users/' + user.avatar" alt="User Avatar" class="navButton" >
                    <img src="images/log-in-out.svg" alt="Log Button" @click="logout" class="navButton">
                </div>
            
                
            </div>
        </header>

        <router-view @shownav="ShowNavigation" @authenticated="setAuthenticated"/>
        
        
    </main>

    <footer v-if="showFooter">
        <h2 class="hidden">Footer</h2>
            <div id="footerCon">

                <div id="logoConFooter">
                    <img id="footerLogo" src="images/flashback_icon.png" alt="Roku Flashback Icon">
                </div>

                <div id="socialMediaCon">
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="images/icon-facebook.svg" class="socialIcon" alt="Facebook Icon">
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                        <img src="images/icon-twitter.svg" class="socialIcon" alt="Twitter Icon">
                    </a>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="images/icon-youtube.svg" class="socialIcon" alt="Youtube Icon">
                    </a>
                </div>

                <h3 id="copyRight">© Copyright 2020 Roku, Inc.</h3>
            </div> 
    </footer>
</div>
<script type="module" src="js/main.js"></script>


</body>
</html>