<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
    <title>Roku FlashBack App</title>
</head>
<body>
    <main id="app">
        <header>
            <h1 class="hidden">Roku FlashBack App</h1>
            <nav>
              <div class="logo">Logo Goes Here</div>
              <ul>
                <!-- avatar / user icon-->
                <!-- if the user has an avatar, show it -->
                <li v-if="user.settings.isLoggedIn">
                  <img :src=" 'images/' + user.avatar" alt="user avatar" class="u-avatar">
                </li>
      
                <!-- else show this -->
                <li v-else>
                  <i class="fas fa-user"></i>
                </li>
                <!-- end avatar -->
      
                <!-- settings icon / functionality -->
                <!-- if our user object has admin rights, then show this -->
                <li v-if="user.settings.isadmin">
                  <i v-on:click="setUserPrefs" class="fas fa-cog" role="button"></i>
                </li>
                <!-- end user settings -->
      
                <!-- log in / log out -->
                <li>
                  <i @click="userLogin" class="fas fa-power-off u-login" role="button" :class="{ 'logged-in' :user.isLoggedIn }"></i>
                </li>
              </ul>
            </nav>
          </header>

          <section class="content">
              <div class="app-content"></div>
          </section>

          <footer>
            <p>All content &copy; 2020 Netflix, Marvel and Disney, so don't tell them we stole it</p>
          </footer>
          <script src="js/main.js"></script>
    </main>
</body>
</html>