.allUsers{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    animation: fadeAnim 1s 1 0s ease;
    
    h2{
        background-color: $roku-purple;
        font-size: 35px;
        padding: 1em;
        // color: $roku-purple;
        color: #ffffff;
        font-family: $main-font;
        font-weight: 400;
        font-style: normal; 
        text-align: center;
        margin-bottom: 10px;
    }

    .usersCon{
        // background: url(../images/home_background.jpg);
        // background-blend-mode: multiply;
        background-color: $roku-purple;
        max-width: 840px;
        margin: 0 auto;
        padding: 3em;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        
        
        .user{
            width: 100%;
            max-width: 140px;
            animation: fadeAnim 1s 1 0s ease;
            
            .avatar{
                max-width: 140px;
                cursor: pointer;
                transition: transform .3s;

                &:hover{
                    transform: scale(1.03);
                }
            }

            h3{
                font-size: 20px;
                color: #ffffff;
                font-family: $main-font;
                font-weight: 400;
                font-style: normal; 
                text-align: center;
                margin-bottom: 10px;

            }
        }
    }
}